.student-card {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.student-card img {
	border: 1px grey solid;
	border-radius: 100%;
	margin: 2em;
	height: 8em;
}

.student-card p {
	font-weight: lighter;
	margin: 0.2em;
}

.expand-btn {
	color: grey;
	font-size: 3em;
	margin-left: auto;
}
